@import "tailwindcss";

@theme {
  --font-vazir: "Vazirmatn", sans-serif;
  --color-primary: #1A365D; /* Deep Persian Blue */
  --color-secondary: #D4AF37; /* Warm Gold */
  --color-background: #FDFBF7; /* Soft Cream */
  --color-accent: #E2E8F0;
}

:root {
  --background: #FDFBF7;
  --foreground: #1A1A1A;
}

body {
  font-family: var(--font-vazir);
  background-color: var(--background);
  color: var(--foreground);
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}
